body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #47494b;
}

.jumbotron {
    background-image: url("../images/railroad.jpg"); 
    background-color: darkgray;
    background-size: cover;
    /*color: aquamarine; */
    color: black;
}

#addTrainBtn {
    color: black;
    font-weight: bold;
    background-color: aquamarine;
}

#addTrainBtn:hover {
        color:rgb(198, 0, 33); 
        text-decoration:none; 
        cursor:pointer;  
}

#dispSched {
    font-weight: bold;
}
#display-header {
    background-color: aquamarine;
    font-weight: bold;
}

footer {
    height: auto;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

hr {
    color: aquamarine;
    border-style: solid none;
    border-width: 1px 0;
    margin: 15px 0;
}